<div class="jumbotron jumbotron-fluid text-center" ><h1>Add Mountain</h1></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-text">
           
                        <div class="md-form">
                            <label for="name" class="">Mountain Name</label>
                            <input type="text" id="name" class="form-control" [(ngModel)]="mName"> 
                        </div>
                        <div class="md-form">
                            <label for="name" class="">Mountain Height</label>
                            <input type="text" id="name" class="form-control" [(ngModel)]="mHeight"> 
                        </div>
                        <button type="button" class="btn btn-success btn-lg btnSave">Save</button>

                    </div>
                </div>
            </div>
        <div class="col-sm-2"></div>
    </div>
</div>


