<div class="jumbotron jumbotron-fluid text-center" ><h1>Add Mountain</h1></div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>