
<img #mainImage src="assets\images\nature.jpg"  class="img-responsive" alt="Responsive image">

<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>
<div class="jumbotron jumbotron-fluid text-center" >Test</div>

<div class="card-block">
  <h4 class="card-title">This is Card #1</h4>
  Some quick example text to build on the card title and make up the bulk of the card's content.
  <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Learn More</a>
  </div>